<mat-card appearance="outlined">

  <mat-card-header class="header">
    <mat-card-title class="card__title">{{ data.title }}</mat-card-title>
    <button mat-icon-button aria-label="Delete" (click)="deleteCard()">
      <mat-icon fontIcon="delete"/>
    </button>
  </mat-card-header>


  <mat-card-content>
    <mat-card-subtitle class="card__description">{{ data.description }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions class="footer">
    <button mat-flat-button (click)="openDescription()">More info</button>
    <div class="info">
      <ng-container *ngIf="data.status !== CardStatus.ToDo; else creator">
        <p class="info__field">
          Worker:
          <strong>{{ data.worker }}</strong>
        </p>
      </ng-container>
      <ng-template #creator>
        <p class="info__field">
          Creator:
          <strong>{{ data.creator }}</strong>
        </p>
      </ng-template>
      <ng-container *ngIf="data.status === CardStatus.Done; else deadline">
        <p class="info__field">
          Done:
          <strong>{{ data.date_completion | date }}</strong>
        </p>
      </ng-container>
      <ng-template #deadline>
        <p class="info__field">
          Deadline:
          <strong>{{ data.date_deadline | date }}</strong>
        </p>
      </ng-template>

    </div>
  </mat-card-actions>

</mat-card>
